.Rproj.user
.Rhistory
.RData
.Ruserdata
paper/article.html
.DS_Store
paper/article.Rmd
paper/index.bib
papernb.zip
paper/elsarticle.cls
paper/elsevier-harvard-without-titles.csl
paper/elsevier-harvard.csl
paper/elsevier-vancouver.csl
paper/elsevier-with-titles-alphabetical.csl
paper/elsevier-with-titles.csl
paper/elsevier-without-titles.csl
paper/html.html
paper/html.pdf
paper/html.Rmd
paper/html_files/paged-0.10.1/css/jss-fonts.css
paper/html_files/paged-0.10.1/css/jss-page.css
paper/html_files/paged-0.10.1/css/jss.css
paper/html_files/paged-0.10.1/js/config.js
paper/html_files/paged-0.10.1/js/hooks.js
paper/html_files/paged-0.10.1/js/paged.js
paper/mybibfile.bib
paper/numcompress.sty
paper/paper.pdf
paper/paper.Rmd
paper/paper.spl
paper/paper.tex
paper/paper_files/figure-latex/unnamed-chunk-5-1.pdf
